.create__answers-container {
  .create__answers-inps {
    display: flex;
    align-items: center;
    gap: 20px;

    .create__answers-input {
      width: calc(100% / 3 - 20px);
    }

    .import__excel-btn {
      width: calc(100% / 3 - 20px);
      position: relative;
      cursor: pointer;

      input {
        opacity: 0;
        position: absolute;
        inset: 0;
      }
    }
  }
  .preview {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 12px;
    margin-top: 12px;
    .preview__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 60%;
      margin-top: 12px;
      .preview__title {
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 8px;
      }
      .preview__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 12px;
        padding: 8px;
        border: 1px solid var(--border-color);
        gap: 4px;
        .grade {
          width: 100px;
          height: 30px;
          border: 1px solid var(--border-color);
        }
        .info__title {
          font-weight: 500;
        }
        .info__detail {
          display: flex;
          align-items: flex-end;
          gap: 4px;
          .dot {
            flex: 1;
            border-bottom: 2px dotted var(--border-color);
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .create__answers-container {
    .create__answers-inps {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      .create__answers-input {
        width: 100%;
      }
      .import__excel-btn {
        width: 100%;
      }
    }
  }
}
