.default__layout {
  width: 100%;
  overflow-x: hidden;
  .main__container {
    display: flex;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    .side__menu {
      width: 30%;
    }
    .main__content {
      flex: 1;
    }
  }
}
