.show__answers-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .show__answer_top {
    display: flex;
    gap: 12px;
    max-width: 350px;
  }

  .highlight {
    color: var(--primary-color);
    font-weight: bold;
  }

  button {
    max-width: 200px;
  }
  .detail_marked {
    color: var(--primary-color);
    text-decoration: underline;
    transition: 0.15s all ease;
    cursor: pointer;
    &:hover {
      filter: brightness(0.7);
    }
  }

  .delete__icon {
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}

@media screen and (max-width: 414px) {
  .show__answers-container {
    button {
      max-width: unset;
    }
  }
}
